<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>cat1</string>
		<key>name</key>
		<string>Accommodation</string>
		<key>color</key>
		<string>9777a8</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat2</string>
		<key>name</key>
		<string>Transport</string>
		<key>color</key>
		<string>48a0dc</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat3</string>
		<key>name</key>
		<string>Meal</string>
		<key>color</key>
		<string>ed7161</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat4</string>
		<key>name</key>
		<string>Drink</string>
		<key>color</key>
		<string>88c057</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat5</string>
		<key>name</key>
		<string>Visit</string>
		<key>color</key>
		<string>e54edc</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat6</string>
		<key>name</key>
		<string>Bar/Party</string>
		<key>color</key>
		<string>4fcac9</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat7</string>
		<key>name</key>
		<string>Shopping</string>
		<key>color</key>
		<string>ca4f89</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat8</string>
		<key>name</key>
		<string>Souvenirs</string>
		<key>color</key>
		<string>ca4f61</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cat9</string>
		<key>name</key>
		<string>Other</string>
		<key>color</key>
		<string>4fca9a</string>
	</dict>
</array>
</plist>
